{% extends 'base.html.twig' %}

{% block title %}New Suggestion{% endblock %}

{% block content %}
    <h1>Create new Suggestion</h1>

    {{ include('suggestion/_form.html.twig') }}

    <a href="{{ path('app_suggestion_index') }}">back to list</a>
{% endblock %}
